spring-boot-axis2/src/main/resources/WEB-INF/services/conf/META-INF/userService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://service.axis2.fleet.com/scheme/1.0" xmlns:tns="http://service.axis2.fleet.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://entity.axis2.fleet.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://service.axis2.fleet.com">
    <wsdl:documentation>userService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax22="http://entity.axis2.fleet.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.axis2.fleet.com/scheme/1.0">
            <xs:import namespace="http://entity.axis2.fleet.com/xsd"/>
            <xs:element name="getName">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNameResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="get">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://entity.axis2.fleet.com/xsd">
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNameRequest">
        <wsdl:part name="parameters" element="ns:getName"/>
    </wsdl:message>
    <wsdl:message name="getNameResponse">
        <wsdl:part name="parameters" element="ns:getNameResponse"/>
    </wsdl:message>
    <wsdl:message name="getRequest">
        <wsdl:part name="parameters" element="ns:get"/>
    </wsdl:message>
    <wsdl:message name="getResponse">
        <wsdl:part name="parameters" element="ns:getResponse"/>
    </wsdl:message>
    <wsdl:portType name="userServicePortType">
        <wsdl:operation name="getName">
            <wsdl:input message="tns:getNameRequest" wsaw:Action="urn:getName"/>
            <wsdl:output message="tns:getNameResponse" wsaw:Action="urn:getNameResponse"/>
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input message="tns:getRequest" wsaw:Action="urn:get"/>
            <wsdl:output message="tns:getResponse" wsaw:Action="urn:getResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="userServiceSoap11Binding" type="tns:userServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getName">
            <soap:operation soapAction="urn:getName" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation soapAction="urn:get" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="userServiceSoap12Binding" type="tns:userServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getName">
            <soap12:operation soapAction="urn:getName" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap12:operation soapAction="urn:get" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="userServiceHttpBinding" type="tns:userServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getName">
            <http:operation location="getName"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <http:operation location="get"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="userService">
        <wsdl:port name="userServiceHttpSoap11Endpoint" binding="tns:userServiceSoap11Binding">
            <soap:address location="http://127.0.0.1:8000/services/userService.userServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="userServiceHttpSoap12Endpoint" binding="tns:userServiceSoap12Binding">
            <soap12:address location="http://127.0.0.1:8000/services/userService.userServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="userServiceHttpEndpoint" binding="tns:userServiceHttpBinding">
            <http:address location="http://127.0.0.1:8000/services/userService.userServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
